@font-face {
  font-family: 'F1-Regular';
  src: url('/src/assets/fonts/Formula1-Regular.woff2') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}

@font-face {
  font-family: 'F1-Italic';
  src: url('/src/assets/fonts/Formula1-Italic.woff2') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}

@font-face {
  font-family: 'F1-Bold';
  src: url('/src/assets/fonts/Formula1-Bold.woff2') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}